<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="static/styles.css" rel="stylesheet">
        <title>My Webpage</title>
    </head>
    <body>
      <div class="banner">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Blake Everett Robinson</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <ul>
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li><a class="nav-link active" aria-current="page" href="/about">About Me</a></li>
                    <li><a class="nav-link" href="/mtg_projects">MTG Projects</a></li>
                    <li><a class="nav-link" href="/other_projects">Other Projects</a></li>
                    <li><a class="nav-link" href="/contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div id="about">
          <div class="about-container">
            <div class="section">
              <h2>Certificates</h2>
              <p>Name: Harvard's CS50x Programming Certificate
              <br>Awarded: June 5, 2023
              <br>ID: 97f10d69-2875-425a-8382-f9b7815d0bc7
              <br><a href="https://certificates.cs50.io/97f10d69-2875-425a-8382-f9b7815d0bc7.pdf?size=letter" target="_blank" rel="noopener" style="color:rgb(213, 245, 255)">View Certificate</a>
              </p>
              <p>Name: Harvard's CS50p Python Certificate
              <br>Awarded: August 7, 2023
              <br>ID: 4b5636ac-bb94-4a69-b750-a1c02045e583
              <br><a href="https://certificates.cs50.io/4b5636ac-bb94-4a69-b750-a1c02045e583.pdf?size=letter" target="_blank" rel="noopener" style="color:rgb(213, 245, 255)">View Certificate</a>
              </p>
              <p>Name: TestDome Python Certificate
              <br>Awarded: July 31, 2023
              <br>ID: 58ab4e5bc87e4dee89e8c1a0460db66d
              <br><a href="www.testdome.com/certificates/58ab4e5bc87e4dee89e8c1a0460db66d" target="_blank" rel="noopener" style="color:rgb(213, 245, 255)">View Certificate</a>
              </p>
              <img src="static/about_halloween.jpg" alt="Image 1">
              <p><br></p>
              <h2>Work Experience</h2>
              <p>
                I'm in the unique position of having 8 years of sales and account management experience, now looking for work in an entirely new industry.
                My career began as an internship between my junior and senior year of college at Schneider's Logistics office in Chicago.
                I was offered a full-time logistics sales position upon graduation.
                I stayed in this role for 5 years, gaining industry experience and began to take on leadership responsibilities.
                Around this time, Schneider was promoting a new line of business which utilized power units from 3rd party capacity to haul pre-loaded Schneider trailers
                from the company's highest volume clients. Specifically, I was hired to handle expedited and high-value freight from shippers such as Amazon, Nordstrom, and FedEx,
                managing peak retail season freight. Around this time, I also began to get interested in the tech side of transportation, and there was a new TMS and 
                Tracking/Tracing software that was being rolled out to this line of business before being implemented company wide. I stayed in this position for a year when I
                made my intentions known that I wanted to help with the development and roll out of the software. At this point I was asked if I would consider relocating to
                Green Bay, which led to Schneider and I parting ways.
              </p>
              <p>
                I then began working in Logistics Sales at a growing company that specialized in refrigerated truckload freight, and brought on one of the largest clients
                for the company. While finding success here was great, I became fully aware that transportation sales was not a long-term career aspriration of mine.
                It's a very transactional industry and lacked the critical thinking and problem solving skills that programming has brought into my life.
                With that said, there are a lot of transferrable skills that sales brings to the tech world.
                My experience has taught me to first consider the needs of the client, then develop targeted solutions that specifically address a customer's goals.
                With that mindset, I can help ensure that a company will hit the deliverables to improve client satisfaction, retention, and efficiency.
              </p>
            </div>
            <div class="section">
              <img src="static/about_engaged.jpg" alt="Image 2">
              <p><br></p>
              <h2>About Me</h2>
              <p>
                This website, and all of the code used in development of this website was done by me.
                I set out to create this website for 3 primary reasons.
                First - I am a self taught programmer, and am constantly looking for projects that will expand my understanding of the programming world.
                Second - I have created a lot of projects that friends wanted to use, so this provides an interface to let them test it out.
                Third - I wanted a way to showcase all of the work that I have put in to teach myself how to code.
              </p>
              <p>
                A little bit about me. I live in Chicago, IL with my dog Maeby and my partner Rachel. 
                Rachel and I got engaged during the summer of 2023 after being together for (only) 6 years.
                We live in the incredible neighborhood of Uptown/Buena Park with a condo that gives us views of the Montrose Harbor, Wrigley Field, and the city.
                I graduated from the University of Iowa in 2016 with a BBA in Management, Marketing, and an International Business Certificate.
                This makes me a die-hard Hawkeye football fan.
              </p>
              <p>
                I am some who loves to meet new people and learn new skills.
                Some have described me as having hyper-fixations meaning when I find something that I am interested in, I continue to pursue it until I have mastered the craft.
                This has manifested itself in learning slight of hand magic, cooking, Rubik's cubes, logic puzzles, ping-pong, craft beer, and most recently, programming.
                One of my favorite passtimes is the card game Magic: the Gathering.
                Since its creation, there have been tens of thousands of unique cards printed, and a whole community that has created resources to enhance the game.
                This made Magic: the Gathering the perfect backdrop to hone my programming skills.
                In creating online tools, I've gained practice connecting to APIs, managing massive data pools, cleaning data, scrubbing websites, and making calculations.
                This also has had the benefit of creating tools for the Magic community to better help them analyze their decks, and facilitating better conversations around games.
              </p>
              <img src="static/about_maeby.jpg" alt="Image 1">
            </div>
          </div>
        </div>
    </body>
</html>
